.documentation-container {
  padding: 2rem;
}
.component-header {
  margin-bottom: 1.5rem;
}
.component-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.component-row {
  flex-direction: row;
  align-items: flex-end;
}
.documentation-container h1,
.documentation-container h2 {
  margin-bottom: 1rem;
}
pre {
  background-color: rgb(241, 241, 241);
  border: 1px solid #adadad;
  padding: 1rem;
  white-space: pre-wrap;
  max-width: 100%;
  margin-bottom: 2rem;
}
code {
  line-height: 1.8;
}

.documentation-page > .doc-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.route-container {
  flex-basis: 88%;
}
